variable

In [1]:
rumah = 'Bekasi'
a = b = c = 300

print(rumah, a, b, c)

Bekasi 300 300 300

## Operators

In [4]:
a = 10
b = 20
print(a+b, a-b, a*b)
print(a/b, type(a/b)) #float
print(a//b, type(a//b)) #integer dibulatkan ke bawah

30 -10 200
0.5 <class 'float'>
0 <class 'int'>

In [5]:
# modulo (%)
print(7/2)
print(7%2)

3.5
1

QUIS 1, konversi derajat celcius ke fahrenheit

In [ ]:
cel = 30
F = (cel * (9/5)) + 32
print (F)

comparison operators

In [9]:
c = 10
d = 20
e = 10

print(c==d)
print(c==e)
print(c>=d)
print (c<=e)
print(c!=d)
print(c!=e)

False
True
False
True
True
False

In [10]:
gedung1 = 'bekasi'
gedung2 = 'jakarta'
gedung3 = 'jakarta'
print(gedung1!=gedung2)
print(gedung3!=gedung2)

True
False

In [12]:
s = 'foo'
t = 'bar'
u = 'baz'

print (s+t, s+t+u, s+u+t)
print(s*4)

foobar foobarbaz foobazbar
foofoofoofoo

In [13]:
a = 'buah'
print(a in 'Saya mau beli buah')
print(a in 'Saya mau beli singkong')

True
False

In [17]:
#Case conversion
a='buah'
print(a.upper())
b='BUAH'
print(b.lower())
c = 'sAyAC'
print(c.capitalize())
d = 'sAyA Mau maKan'
print(d.capitalize())
print(d.title())
print(d.swapcase())

BUAH
buah
Sayac
Saya mau makan
Saya Mau Makan
SaYa mAU MAkAN

## Python List

In [18]:
a = ['saya', 'mau', 'makan']
print(a)

['saya', 'mau', 'makan']

In [20]:
b = ['saya', 1, True, 3.7]
print(b)
print(type(b[2]))

['saya', 1, True, 3.7]
<class 'bool'>

In [25]:
c = ['makan', 'mau', 'saya']
print(a==c)
print(c[-1], c[-2], c[1])
#index depan dimulai dari 0, dari belakang mulai dari -1

False
saya mau mau

In [32]:
e = ['makan', 'mau', 'saya', 'meow', 'bulan', 'bintang']
print(e[3:5])
print(e[:5])
print(e[1:])

['meow', 'bulan']
['makan', 'mau', 'saya', 'meow', 'bulan']
['mau', 'saya', 'meow', 'bulan', 'bintang']

In [39]:
x = 'shaila'
y = 'Thakiandra Kamaliel'
print(x[1:5])
print(y[1:15])
print(y[1::3]) #lompat 3
print(y[::-2]) #reverse

hail
hakiandra Kama
hid mi
liaa rniaT

In [53]:
str = 'komitmen'
print(str[3])
print(str[1:4])
print(str[4:])
print(str[::2])
print(str[0]+str[2]+str[4]+str[7])
print(str[0:5:2]+a[a.index('n')])

i
omi
tmen
kmte
kmtn

ValueError: 'n' is not in list

In [55]:
e = ['makan', 'mau', 'saya', 'meow', 'bulan', 'bintang']
e[e.index('mau')] = 20

del e[e.index('mau')]
print(a)

ValueError: 'mau' is not in list

## tuple

In [56]:
h = ('makan', 'mau', 'saya', 'meow', 'bulan', 'bintang')
print(type(h)) #tuple tidak bisa diakses

<class 'tuple'>

## dictionary

In [60]:
MLB_team = {
    'Colorado':'Rockies',
    'Boston':'Red Sox',
    'Minnesota':'Twins',
    'Milwaukee':'Brewers',
    'Seattle':'Mariners'
}

In [61]:
print(MLB_team['Colorado'])
print(MLB_team['Boston'])

MLB_team['Kansas City'] ='Royals'
print(MLB_team)

Rockies
Red Sox
{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Mariners', 'Kansas City': 'Royals'}

In [63]:
#update
MLB_team['Seattle'] ='Seahawks'
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks', 'Kansas City': 'Royals'}

In [64]:
del MLB_team['Kansas City']
print(MLB_team)

{'Colorado': 'Rockies', 'Boston': 'Red Sox', 'Minnesota': 'Twins', 'Milwaukee': 'Brewers', 'Seattle': 'Seahawks'}

In [68]:
orang = {}
orang['Nama'] ='Budi'
orang['Kota'] = 'Solo'
orang['Umur'] = 32
orang['Anak'] = ['Budi', 'Sarah', 'Syifa']
orang['Kendaraan'] = {'mobil':'Innova', 'motor':'mio'}
orang

{'Nama': 'Budi',
 'Kota': 'Solo',
 'Umur': 32,
 'Anak': ['Budi', 'Sarah', 'Syifa'],
 'Kendaraan': {'mobil': 'Innova', 'motor': 'mio'}}

In [69]:
print(orang['Kendaraan']['motor'])

mio

In [70]:
print(orang['Anak'][0:2])

['Budi', 'Sarah']

## Line Continuation

In [72]:
umur1 = 42
umur2 = 16
umur3 = 71

print(umur1>=18 or umur2<=15)
print(umur3 <= 50 and umur1>=18 or umur2<=20 and umur3 >=50)

True
True

## Materi Tambahan

In [84]:
mobil = ['Toyota', 'Kijang']
mobil.append('Tsuzu')
print(mobil)

['Toyota', 'Kijang', 'Tsuzu']

In [85]:
kendaraan = mobil.copy() #untuk copy isi mobil ke kendaraan, jika kendaraan diappend mobil tidak akan ikut terapppend
print(kendaraan)         #kalau ga pakai copy, append kendaraan akan ikut terappend ke mobil

['Toyota', 'Kijang', 'Tsuzu']

In [86]:
kendaraan.append('Innova')
print(kendaraan)
print(mobil)

['Toyota', 'Kijang', 'Tsuzu', 'Innova']
['Toyota', 'Kijang', 'Tsuzu']

In [87]:
kendaraan.remove('Innova')
print(kendaraan)

['Toyota', 'Kijang', 'Tsuzu']

In [75]:
buah = ['Pisang', 'Jeruk', 'Apel']
buah.pop()
print(buah)

['Pisang', 'Jeruk']